page-mine {
  .head {
    position: relative;

    img {
      display: block;
    }

    .touxiang {
      height: 100px;
      width: 100px;
      overflow: hidden;
      border-radius: 50%;
      position: absolute;
      bottom: 25%;
      left: 38%;
    }
    p{
        position: absolute;
        display:block;
        width: 100px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        bottom: 10%;
        left: 38%;
    }
  }
  .order{
      background-color: #eeeeee;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      p{
        height: 20px;
        padding: 0 14px;
      }
  }
  .my{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eeeeee;
    li{
        width: 32.5%;
        background-color: #fff;
        height: 84px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ion-icon{
            font-size: 4rem;
        }
    }
  }
  .options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #eeeeee;
    li{
        width: 49.5%;
        background-color: #fff;
        height: 95px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ion-icon{
            font-size: 4rem;
        }
    }
  }
}
